
@font-face {
    font-family: 'amaticbold';
    src: url('font/amatic-bold-Amatic.eot');
    src: url('font/amatic-bold-Amatic.eot?#iefix') format('embedded-opentype'),
         url('font/amatic-bold-Amatic.woff2') format('woff2'),
         url('font/amatic-bold-Amatic.woff') format('woff'),
         url('font/amatic-bold-Amatic.svg#amaticbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.box {
    border: 1px solid #C1C1C1;
    border-radius: 3px;
}

.mesbox {
    margin: 10px 0;
}

html {
	font-family:Comic Sans MS;
	font-size: 100%;
	color: #C8C8C8;
	height: 100%;
}

body {
	background-image: url("img/back.jpg");
	background-size: cover;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px;
}

header, footer {
	width: 60%;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}

header {
	justify-content: space-around;
	margin: 50px;
}
footer {
	justify-content: space-between;
	margin: 20px;
	font-size: 70%;
}

header nav {
	display: flex;
	justify-content: flex-end;
	width: auto;
	z-index: 1;
}

section {
	display: flex;
	justify-content: center;
	max-width: 1024px;
	height: 100%;
}

h1 {
	text-transform: lowercase;
	letter-spacing: 5px;
	margin: 0px;
	font-size: 600%;
	font-family: 'amaticbold';
}

h2 {
	text-align: center;
	font-size: 300%;
	letter-spacing: 3px;
	-webkit-margin-before: 0px;
	font-family: 'amaticbold'
}

canvas {
    display: none;
}

a {
	text-decoration: none;
	list-style: none;
	color: #C8C8C8;
}

#file {
	border-top: 1px solid #706545;
	margin-top: 30px;
	padding-top: 30px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error {
	color: #C40100
}

.sect {
	padding: 60px;
	flex-wrap: wrap;
}

.input {
	border-radius:15px;
	border: 2px solid #C8C8C8;
	color: #C8C8C8;
	background-color: rgba(0,0,0,0);
	font-size:15px;
	font-style:normal;
	height:50px;
	width:150px;
	text-decoration:none;
	text-align:center;
	transition: border-color 0.5s linear, color 0.5s linear;
	margin: 20px;
}

.fail {
	border-radius:15px;
	border: 2px solid #C8C8C8;
	color: #C8C8C8;
	background-color: rgba(0,0,0,0);
	font-size:15px;
	font-style:normal;
	height:50px;
	width:150px;
	text-decoration:none;
	text-align:center;
	transition: border-color 0.5s linear, color 0.5s linear;
	margin: 20px;
}

.fail:hover{
	border-color: #7C1816;
	color: #7C1816;
}

.input:hover{
	border-color: #99C04B;
	color: #99C04B;
}

#montage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button:hover {
	color: yellow;
}
.button {
	padding: 15px;
	padding-right: 30px;
	padding-left: 30px;
}

.fond {
	background-color: rgba(28,28,28,0.8);
	border-radius: 10px;
	max-width: 80%;
}

#ico {
	width: 150px;
	padding-right: 20px;
}

#myaccount {
	position: absolute;
	top: 48px;
	display: flex;
	flex-direction: column;
}

.logo {
	display: flex;
	align-items: center;
}

.ajout {
	width: 90px;
	opacity: 0.5;
}

#calque {
	width: 480px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

#calque img {
	max-height: 100px;
	width: auto;
}

#ens_video {
	width: 480px;
	height: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#superpos {
	position: relative;
	overflow: hidden;
}

#nav {
	padding-left: 50px;
}

.pic_nav {
	width: 250px;
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.zoom {
	overflow: hidden;
}

.pic_galerie {
	max-width: 200px;
	max-height: 150px;
	transition: all 1s;
}

.pic_galerie:hover {
	transform: scale(1.1);
}

#photos {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#photos div {
	width: 210px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#galerie div div {
	width: 220px;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#arrow {
	display: flex;
	justify-content: center;
}

#arrow span {
	font-size: 2em;
	margin: 10px;
}

.arrow {
	cursor: pointer;
	font-weight: bold;
}
.arrow:hover {
	transform: scale(1.25);
}

.corazon {
	position: relative;
}

#nb_like {
	position: absolute;
	top: 30px;
	right: 90px;
}

.corazon a {
	position: absolute;
	top: 20px;
	right: 20px;
}

#dislike {
	z-index: 11;
}

#like {
	z-index: 10;
}

#comments {
	padding-top: 100px;
}

#comments div{
	background-color: rgba(56,56,56,0.8); 
	margin: 1px;
	width: 480px; 
	border-radius: 10px;
}

#comments div p {
	margin: 5px;
	margin-left: 10px;
}

.login {
	padding-top: 5px;
	color: #27AC13;
	font-weight: bold;
}

#comment {
	width: 300px;
}

.comment {
	padding-left: 50px;
}

.time {
	color: black;
	font-size: 0.8em;
}

.img_uni {
	display: flex;
	justify-content: center;
	align-items: center;
}

#delete_pic {
	position: absolute;
}

.form_account {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	height: 250px;
	margin: auto;
}

#create {
	margin-bottom: 50px;
}

#create a {
	color: #24B1FE;
	font-weight: bold;
}

.compte {
	display: flex;
	flex-direction: column;
}




/*************Menu header**************/

#menu, #menu ul {
   padding: 0;
   margin: 0;
   list-style: none; 
} 

#menu a {
   display: block;
   width: 7em; 
} 

#menu li {
   float: left;
   width: 7em;
}

#menu li ul {
   position: absolute;
   width: 10em;
   left: -999em;
} 

#menu li:hover ul, #menu li.agran ul {
   left: auto; 
}

/*************************************/